# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDE
.vscode/
.idea/

# App Specific
backend/hr_pipeline.db
backend/token.json
backend/credentials.json
scratch/
